<div tw-error-panel="tw-error-panel" class="b-transfer-flow__error-panel"></div>

<header class="b-transfer-flow-main__header">
    <div class="b-transfer-flow-main__step m-small {{'flow.steps.small.class' | translate}}">First step, is to pay {{amount}}</div>
    <h2 class="b-transfer-flow-main__title">verificationStepHeader</h2>
    <div ng-if="!verificationData.requiredVerifications.jumioAllowed && !verificationData.ssnModel.flags.showSsnVerification" class="b-transfer-flow-main__helper">verification.do.not.worry.about.procedure</div>
    <div ng-if="!verificationData.requiredVerifications.jumioAllowed && verificationData.ssnModel.flags.showSsnVerification" class="b-transfer-flow-main__helper" translate="verification.below.header.us"></div>
    <div ng-if="!verificationData.requiredVerifications.jumioAllowed && verificationData.jumioErrorResponse" style="color: #f7462b" class="b-transfer-flow-main__helper">verification.jumio.journey.went.wrong</div>
</header>

<div class="page-title">
    <h1 ng-if="program == 'FEECREDIT'">This is the chance for you to earn {{payout}} credits</h1>
    <h1 ng-if="program == 'N_FOR_PAYOUT'">Earn {{currency}}{{payout}} for every 3 friends you invite</h1>
</div>

<div class="b-transfer-flow-main__body l-row">
    <div>This is the chance for you to earn {{payout}} credits</div>
    <iframe ng-if="verificationData.jumioJourneyInProgress()"  ng-src="{{verificationData.iframeUrl}}" id="jumioOuterContainer" width="800" height="600" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" ></iframe>

    <div class="l-span-14">

        <div tw-include src="verification/views/personalVerification.html"
             ng-if="!isBusinessProfile()"></div>
        <div tw-include src="verification/views/businessVerification.html"
             ng-if="isBusinessProfile()"></div>

    </div>
    <div ng-if="!verificationData.showJumioVerification() && !verificationData.jumioJourneyCompleted" class="b-verification__help l-span-8 l-push-2">
        <p ng-if="verificationData.requiredVerifications.isOnlyTransfersPurposeRequired()" localise>
            verification.purpose.required.by.FCA <b class="logo" disabled bubu="baba">this is strong</b> after b
        </p>
        <div ng-if="!verificationData.requiredVerifications.isOnlyTransfersPurposeRequired() && !isFromUsdTransfer()">
            <p><strong>verification</strong>.uploaded. <div>div-document</div> check.info</p>
            <p>verification.we.do.not.share.documents</p>
        </div>
    </div>

    <div ng-if="verificationData.requiredVerifications.jumioAllowed && verificationData.jumioJourneyCompleted" class="b-transfer-flow-main__helper">
        verification.jumio.journey.documents.sent
    </div>

</div>

<div ng-if="!verificationData.showJumioVerification()" class="b-transfer-flow-main__actions l-row l-span-6">
    <button ng-if="!isFromUsdTransfer()" ng-click="nextStep()" class="b-button m-fluid ft-continue-button" tw-button-disabled="verificationData.upload.inProgress" with-loader="verificationData.upload.inProgress">flow.button.continue</button>
    <button ng-if="isFromUsdTransfer()" ng-click="nextStep()" class="b-button m-fluid ft-continue-button" tw-button-disabled="verificationData.upload.inProgress" with-loader="verificationData.upload.inProgress">flow.button.confirm</button>
</div>
